body {
    background: rgba(0, 0, 0, 0.92);
    overflow-x: hidden;
}


.container_logo {
    position: relative;

    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 230px;
    padding: 20px;

    background: rgba(0, 0, 0, 0.61);


}


.rounded-gradient-border {
    position: relative;
    border-radius: 0px 130px 130px 0px;
    box-shadow: 0 0 0 1px;
    outline: 1px solid #5e5e5e;
}


.my-container {
    position: absolute;
    width: 1920px;
    height: 225px;
    left: 0px;
    top: 0px;
    background: #000000;
}


.my-image {
    position: relative;
    margin-left: auto;
    right: -60%;
    height: 80%;
    top: 10%;


    background-color: #fcfafa;
    background-blend-mode: multiply;
}


.rectangle_one {
    position: absolute;

    width: 25%;
    height: 100%;
    background: rgb(11, 11, 11);
    box-shadow: 0px 4px 12px rgb(248, 245, 245);
    border-radius: 0px 1000px 1000px 0px;
}


.image-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 18%;
    left: 290%;
    border: 1px solid #E1643C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button img {
    max-width: 100%;
    max-height: 100%;
}


.black {
    box-sizing: border-box;

    position: absolute;
    width: 20%;
    height: 20%;
    left: 1%;
    top: 1.92%;
    bottom: 96.15%;

    background: rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 1000px 0px 0px 1000px;
    transform: rotate(180deg);
}


.dostavka_verx {
    position: absolute;
    top: 7%;
    left: 43%;
    color: #FFFFFF;
    width: 140px;
    height: 15px;
    white-space: nowrap;
}

.vakansiy_verx {
    position: absolute;
    top: 7%;
    left: 56%;
    color: #FFFFFF;
    width: 140px;
    height: 15px;
    white-space: nowrap;
}

.pro_verx {
    position: absolute;
    top: 7%;
    left: 63%;
    color: #FFFFFF;
    width: 140px;
    height: 15px;
    white-space: nowrap;
}

.spivrobitnuchtvo_verx {
    position: absolute;
    top: 7%;
    left: 70%;
    color: #FFFFFF;
    width: 140px;
    height: 15px;
    white-space: nowrap;
}

#languageDropdown {
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    left: 82%;
    width: 96px;
    height: 46px;
    background: #1c1c1c;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.08);
    border-radius: 1000px;
    outline: 1px solid #E1643C;
    line-height: 46px; /* Aligns the text vertically in the center */
    text-align: center; /* Aligns the text horizontally in the center */
    -webkit-appearance: none; /* Remove default arrow in Chrome and Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none;

}


#languageDropdown option {
    background: #8a8888; /* Set the background color of the options */
    border-radius: 12px; /* Set the border radius for rounded corners */
    padding: 15px; /* Add some padding to the options */
    color: white; /* Set the text color of the options */

}


.korzuna_verx {
    position: absolute;
    left: 91%;
    top: 5%;
    background: #1c1c1c;
    outline: 1px solid #E1643C;
    width: 45.25px; /* Размер изображения */
    height: 45.25px; /* Размер изображения */
    border-radius: 50%; /* Создаем круглую форму */
    display: flex; /* Располагаем содержимое по центру по горизонтали и вертикали */
    justify-content: center;
    align-items: center;
}

.corzina_img_verx {
    width: 60%;
    height: 60%;
}

.search-panel {
    position: absolute;
    width: 408px;
    height: 46px;
    left: 43%;
    top: 20%;
    /*background: rgba(255, 255, 255, 0.02);*/
    border-radius: 22px;

}


img[alt="Search Icon"] {
    position: absolute;
    margin-left: -50px;
    z-index: 9999;
    /*border-radius: 50%;*/
    /*outline: 1px solid #E1643C;*/
}


.search-panel input[type="text"] {
    width: 370px;
    height: 46px;
    background: #1c1c1c;
    /*box-shadow: 1px 0 0 0;*/
    /*outline: 0.3px solid #eae7e7;*/
    border-radius: 22px;
    color: #cbc9c9;
    padding-left: 25px; /* Adjust the value as needed */
}


.call {
    position: absolute;
    left: 70%;
    top: 20%;
    background: #1c1c1c;
    outline: 1px solid #E1643C;
    width: 45.25px; /* Размер изображения */
    height: 45.25px; /* Размер изображения */
    border-radius: 50%; /* Создаем круглую форму */
    display: flex; /* Располагаем содержимое по центру по горизонтали и вертикали */
    justify-content: center;
    align-items: center;
}

.call_img_verx {
    width: 60%;
    height: 60%;
}

.phone-numbers {
    /*font-size: 18px;*/

}

.orange-number1 {
    position: absolute;
    color: #E1643C;
    left: 75%;
    top: 20%;
}

.orange-number2 {
    position: absolute;
    color: #E1643C;
    left: 75%;
    top: 23%;

}

.white-number1 {
    color: white;
    position: absolute;
    left: 79.7%;
    top: 20%;
}

.white-number2 {
    color: white;
    position: absolute;
    left: 79.7%;
    top: 23%;
}

.verx {
    background-color: black;
}


.carta_tovara_pizza {
    position: absolute;
    margin-top: 10%;
    margin-left: 2cm;
    margin-right: 2cm;


    border-radius: 14px;

}

#languageToggle {
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    left: 82%;
    width: 96px;
    height: 46px;
    background: #1c1c1c;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.08);
    border-radius: 1000px;
    outline: 1px solid #e1643c;
    line-height: 46px; /* Aligns the text vertically in the center */
    text-align: center; /* Aligns the text horizontally in the center */
    cursor: pointer;
}

.custom-container {
    position: absolute;
    margin-top: 88%;
    margin-left: 2cm;
    margin-right: 2cm;


    border-radius: 14px;
}


.carta_tovara_item .card-title {
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

.card-title.my-title a.short-name {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}


.carta_tovara_item .card-text {
    font-size: 18px;
    line-height: 22px;
    margin-top: -55%;
    color: #ADADAD;
    font-family: "Arial", sans-serif;
    font-style: italic;
}


.carta_tovara_item {
    border-radius: 14px 14px 14px 14px;
    margin-bottom: 3rem;
    border: 2px solid gray;
    width: 305px;
    height: 450px;

    /*background: rgba(255, 255, 255, 1)*/
}

.carta_tovara_item .card-img-top {
    border-radius: 14px 14px 0px 0px;
    width: 302px;
    height: 215px;
}


.price_and_add {
    margin-top: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #E1643C;
}

.btnnn {
    border-radius: 8px;

    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    background-color: #E1643C;
    color: #FFFFFF;
    border: 3px solid orangered; /* Золотая обводка */

}


.nuz {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 350%;
    background-color: #000000;
}

.carta_sity {
    position: absolute;
    top: 10%;
    left: 30%;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    color: #373737;
}

.polosha_orange_nuz {
    position: absolute;
    top: 23%;
    left: 30%;
    width: 88px;
    height: 3px;
    background: #E1643C;
}

.doctavka_nuz {
    position: absolute;
    top: 32%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.pro_nac {
    position: absolute;
    top: 42%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.rolu_nuz {
    position: absolute;
    top: 52%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.pizza_nuz {
    position: absolute;
    top: 62%;
    left: 30%;
    width: 191px;
    height: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.salate_nuz {
    position: absolute;
    top: 72%;
    left: 30%;
    width: 191px;
    height: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.ocnovni_nuz {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.garniru_nuz {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.supu_nuz {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.zakusku_nuz {
    position: absolute;
    top: 62%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.gariche_nuz {
    position: absolute;
    top: 72%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.hold_nuz {
    position: absolute;
    top: 82%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.puvo_nuz {
    position: absolute;
    top: 82%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.contact_nuz {
    position: absolute;
    top: 10%;
    left: 70%;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    color: #373737;
}

.polosha_orange_nuz2 {
    position: absolute;
    top: 23%;
    left: 70%;
    width: 88px;
    height: 3px;
    background: #E1643C;
}

.number_nuz {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 30%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.number_nuz2 {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 40%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.email_nuz {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.adress_nuz {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 60%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.instagram {
    position: absolute;
    top: 72%;
    left: 6%;
}

.telegram {
    position: absolute;
    top: 72%;
    left: 10%;
}

.viber {
    position: absolute;
    top: 72%;
    left: 14%;
}

.facebook {
    position: absolute;
    top: 72%;
    left: 18%;
}

.prava_nuz {
    position: absolute;
    top: 82%;
    left: 6%;
}


.link_roli {
    position: absolute;
    width: 40%;
    height: 22px;
    left: 5%;
    top: 40%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 22px;
    color: #5e5e5e;
    text-decoration: none;
    transition: color 0.3s ease; /* Плавное изменение цвета при ховере */
}

.link_roli:hover {
    color: #E1643C; /* Изменение цвета на оранжевый при ховере */
}

.link_roli2 {
    position: absolute;
    width: 40%;
    height: 22px;
    left: 15%;
    top: 40%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 22px;
    color: #fcfcfc;
    text-decoration: none;
}

.link_roli2:hover {
    text-decoration: none;
    color: #fcfcfc;
    /* Дополнительные свойства ховера по необходимости */
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);


    margin-top: 20%;
    padding: 20px;
    border: 1px solid #888;
    width: 110%;
    height: 500px;
    border-radius: 20px;
    color: white;

}

#description_modal {
    position: absolute;
    top: 56%;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 22px;
    left: 0%;
}


.comment-field {
    position: absolute;
    top: 80%;
    width: 100%;
}

.comment-field .comment-label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #efebeb;
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 1;

}

.form-control {
    background-color: #373737;
}

.comment-field textarea:focus + .comment-label {
    opacity: 0;
}

.comment-field textarea:not(:focus):placeholder-shown + .comment-label {
    opacity: 1;
}


.form-group {
    position: absolute;
    top: 84%;
    width: 100%;
    left: 0%;

}


.modal {
    z-index: 9999; /* Устанавливаем высокий z-index для модального окна */
}

#modal-price {
    position: absolute;
    left: 73%;
    top: 25%;
    color: #E1643C;
    font-size: 35px;
}

#modal_img {
    border-radius: 16px;
    border: 1px solid #989696;
    width: 365px;
    height: 200px;
    display: block;
    margin-left: -3%;
    margin-top: -2%;
}

.modal-title {
    font-size: 40px;
    margin-top: -3px;
}

.modal-title_large {
    font-size: 26px; /* Размер для длинных текстов */
    margin-top: 3%;
}

.btn_modal {
    position: absolute;
    top: 36%;
    left: 72%;

    width: 130px;
    height: 100px;

    border-radius: 8px;
    background: #E1643C;
    color: #FFF;
    font-size: 18px;
    border: 1px solid orangered;

}

.srchh {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #1e1d1d;
    z-index: 9999999;
}

.btn_modal::before,
.btn_modal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 8px;
}

.btn_modal::before {
    z-index: -1;
}

.modal_pizza {
    background-color: rgba(0, 0, 0, 0.8);

    padding: 20px;
    border: 1px solid #888;
    width: 900px;
    height: 600px;

    border-radius: 20px;
    color: white;

    position: fixed;
    margin-top: 22%;

    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica, Arial, sans-serif;


}

.pizza_title {
    font-size: 50px;
    margin-top: 0%;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
    background-color: transparent;
    margin-top: -2%;

}

modal-header1 {
    border: none;
}


.modal_img_pizza {
    border-radius: 20px;
    border: 1px solid #888;
    /*width: 305px;*/
    width: 422px;
    height: 335px;
    display: block;

    position: absolute;
    left: 0%;

}

.pizza_coment {
    position: absolute;
    width: 47%;
    left: 2.2%;
    top: 78%;

    font-family: Helvetica, Arial, sans-serif;
}


.description_modal_pizza {
    position: absolute;
    left: 50%;
    margin-top: 5%;
    color: #ADADAD;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}

.vaga {
    position: absolute;
    left: 50%;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.rozmir {
    position: absolute;
    left: 65%;
    color: white;
    font-family: Helvetica, Arial, sans-serif;

}

.oberit_type {
    position: absolute;
    left: 50%;
    color: white;
    margin-top: 10%;
    text-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
}

.modal_price_pizza {
    position: absolute;
    left: 81%;
    color: #fffbfb;
    font-size: 28px;
    top: 18%;
    font-family: Helvetica, Arial, sans-serif;
}


.tip_testa {
    position: absolute;
    left: 50%;
    margin-top: 15%;
}

.btn_pizza_add1 {
    border-radius: 100px;
    background-color: #2f2e2e;
    width: 170%;
    text-align: left;
    border: 0.5px solid #E1643C;
}

.dropdown-toggle-end::after {
    margin-left: 42%;
}

.text-white {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.text-red {
    font-family: Helvetica, Arial, sans-serif;
    color: #E1643C;
}

.sous {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    position: absolute;
    left: 50%;
    color: white;
    margin-top: 14%;
    text-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
}

.checker {
    position: absolute;
    left: 50%;
    margin-top: 18%;
    color: #8a8888;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
}

.price-addition {
    color: #E1643C;
    margin-left: 5px;
    font-family: Helvetica, Arial, sans-serif;
}

.checker2 {
    position: absolute;
    left: 50%;
    margin-top: 22%;
    color: #8a8888;
    font-size: 22px;
}

.checker3 {
    position: absolute;
    left: 50%;
    margin-top: 26%;
    color: #8a8888;
    font-size: 22px;
}

.checker4 {
    position: absolute;
    left: 50%;
    margin-top: 30%;
    color: #8a8888;
    font-size: 22px;
}

.checker5 {
    position: absolute;
    left: 50%;
    margin-top: 34%;
    color: #8a8888;
    font-size: 22px;
}

.checker6 {
    position: absolute;
    left: 50%;
    margin-top: 38%;
    color: #8a8888;
    font-size: 22px;
}

.checker7 {
    position: absolute;
    left: 50%;
    margin-top: 42%;
    color: #8a8888;
    font-size: 22px;
}

.checker8 {
    position: absolute;
    left: 50%;
    margin-top: 46%;
    color: #8a8888;
    font-size: 22px;
}

.chhhh1 {
    background-color: #2f2e2e;
    border: 1.3px solid #E1643C;
}

.do_splaty {
    position: absolute;
    top: 80%;
    left: 73%;
    color: #fcfcfc;
    font-size: 22px;
}

.red-price {
    font-size: 26px;
    color: #E1643C; /* Здесь можно указать нужный вам цвет */
}

.modal_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfafa;
}

.modal-footer {
    border: none;
}

.btn_modal_pizza {
    position: absolute;
    top: 88%;
    left: 71%;

    width: 231px;
    height: 45px;

    border-radius: 100px;
    background: #E1643C;
    color: #FFF;
    font-size: 18px;
    border: 1px solid orangered;

}

.btn_modal_rolu {
    position: absolute;
    top: 90%;
    left: 71%;

    width: 231px;
    height: 45px;

    border-radius: 100px;
    background: #E1643C;
    color: #FFF;
    font-size: 18px;
    border: 1px solid orangered;

}

@media (max-width: 1400px) and (min-width: 1201px) {


    .link_roli {
        position: absolute;
        width: 40%;
        height: 22px;
        left: 5%;
        top: 30%;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 22px;
        color: #5e5e5e;
        text-decoration: none;
        transition: color 0.3s ease; /* Плавное изменение цвета при ховере */
    }

    .link_roli:hover {
        color: #E1643C; /* Изменение цвета на оранжевый при ховере */
    }

    .link_roli2 {
        position: absolute;
        width: 40%;
        height: 22px;
        left: 15%;
        top: 30%;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 22px;
        color: #fcfcfc;
        text-decoration: none;
    }

    .link_roli2:hover {
        text-decoration: none;
        color: #fcfcfc;
        /* Дополнительные свойства ховера по необходимости */
    }

    .korzuna_verx {
        position: absolute;
        left: 85%;
        top: 6%;
        background: #1c1c1c;
        outline: 1px solid #E1643C;
        width: 45.25px; /* Размер изображения */
        height: 45.25px; /* Размер изображения */
        border-radius: 50%; /* Создаем круглую форму */
        display: flex; /* Располагаем содержимое по центру по горизонтали и вертикали */
        justify-content: center;
        align-items: center;
    }

    .corzina_img_verx {
        width: 60%;
        height: 60%;
    }

    .search-panel {
        position: absolute;
        width: 408px;
        height: 46px;
        left: 43%;
        top: 16%;
        /*background: rgba(255, 255, 255, 0.02);*/
        border-radius: 22px;

    }


    img[alt="Search Icon"] {
        position: absolute;
        margin-left: -50px;
        z-index: 9999;
        /*border-radius: 50%;*/
        /*outline: 1px solid #E1643C;*/
    }


    .search-panel input[type="text"] {
        width: 370px;
        height: 46px;
        background: #1c1c1c;
        /*box-shadow: 1px 0 0 0;*/
        /*outline: 0.3px solid #eae7e7;*/
        border-radius: 22px;
        color: #cbc9c9;
        padding-left: 25px; /* Adjust the value as needed */
    }


    .call {
        position: absolute;
        left: 73%;
        top: 16%;
        background: #1c1c1c;
        outline: 1px solid #E1643C;
        width: 45.25px; /* Размер изображения */
        height: 45.25px; /* Размер изображения */
        border-radius: 50%; /* Создаем круглую форму */
        display: flex; /* Располагаем содержимое по центру по горизонтали и вертикали */
        justify-content: center;
        align-items: center;
    }

    .call_img_verx {
        width: 60%;
        height: 60%;
    }

    .phone-numbers {
        /*font-size: 18px;*/

    }

    .orange-number1 {
        position: absolute;
        color: #E1643C;
        left: 77%;
        top: 15.5%;
    }

    .orange-number2 {
        position: absolute;
        color: #E1643C;
        left: 77%;
        top: 18.5%;

    }

    .white-number1 {
        color: white;
        position: absolute;
        left: 83%;
        top: 15.5%;
    }

    .white-number2 {
        color: white;
        position: absolute;
        left: 83%;
        top: 18.5%;
    }

    .polosha {
        position: absolute;
        width: 90%;
        height: 10%;
        left: 5%;
        top: 68%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8.5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 1000px;
    }

    .my-image1 {
        position: absolute;
        margin-top: 1%;
        width: 98%;
        max-height: 463px;
        left: 1%;

    }

    .new-popular {
        margin-top: 43%;
        z-index: 999;

    }

    .carta_tovara_nove {
        margin-top: 50%;
        margin-left: -4%;
    }

    .rolu {
        margin-top: 86%;
    }

    .rolu_carta_item {
        margin-top: 25%;
        margin-left: -4%;
        margin-bottom: 0.1rem;
    }


    .pizza_catagory {
        margin-top: 169%;
    }

    .pizza_carta_item {
        margin-top: 30%;
        margin-left: -4%;
        margin-bottom: -15px;
    }

    .salate_catagory {
        margin-top: 252%;
    }

    .salat_carta_item {
        margin-top: 40%;
        margin-left: -4%;
        margin-bottom: -45px;
    }

    .ocnove_catagory {
        margin-top: 334%;
    }

    .ocnovnoe_carta_item {
        margin-top: 50%;
        margin-left: -4%;
        margin-bottom: -75px;
    }

    .supu_catagory {
        margin-top: 415%
    }

    .supu_carta_item {
        margin-top: 52%;
        margin-left: -18%;
        margin-bottom: -75px;
    }

    .zakysku_catagory {
        margin-top: 457%
    }

    .zakysku_carta_item {
        margin-top: 28%;
        margin-left: -4%;
        margin-bottom: -15px;
    }

    .garniru_catagory {
        margin-top: 537%
    }

    .garniru_carta_item {
        margin-top: 17%;
        margin-left: -18%;

    }

    .hotter_carta_item {
        margin-top: -4%;
        margin-left: -12%;
    }


    .xolod_catagory {
        margin-top: 623%
    }

    .xolod_carta_item {
        margin-top: -38%;
        margin-left: -4%;
        margin-bottom: 175px;
    }

    .puvo_catagory {
        margin-top: 703%
    }

    .puvo_carta_item {
        margin-top: -55%;
        margin-left: -4%;
        margin-bottom: 215px;
    }

    .duvutusy_rolu {
        margin-top: 165%;
    }

    .duvutusy_pizzu {

        margin-top: 248%;
    }

    .duvutusy_salaty {
        margin-top: 330%;
    }

    .duvutusy_osnovni {
        margin-top: 412%;
    }

    .duvutusy_supi {
        margin-top: 455%;
    }

    .duvutusy_zakyski {
        margin-top: 535%;
    }

    .duvutusy_garniry {
        margin-top: 577%;
    }

    .duvutusy_cold_drinks {
        margin-top: 701%;
    }

    .duvutusy_piwo {
        margin-top: 781%;
    }

    .nuz {
        position: absolute;
        margin-top: -480%;
    }
}

@media (max-width: 1200px) and (min-width: 1001px) {

    .link_roli {
        position: absolute;
        width: 40%;
        height: 22px;
        left: 5%;
        top: 13%;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 22px;
        color: #5e5e5e;
        text-decoration: none;
        transition: color 0.3s ease; /* Плавное изменение цвета при ховере */
    }

    .link_roli:hover {
        color: #E1643C; /* Изменение цвета на оранжевый при ховере */
    }

    .link_roli2 {
        position: absolute;
        width: 40%;
        height: 22px;
        left: 20%;
        top: 13%;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 22px;
        color: #fcfcfc;
        text-decoration: none;
    }

    .link_roli2:hover {
        text-decoration: none;
        color: #fcfcfc;
        /* Дополнительные свойства ховера по необходимости */
    }

    .carta_tovara_item {
        border-radius: 14px 14px 14px 14px;
        margin-bottom: 3rem;
        border: 2px solid gray;
        width: 215px;
        height: 350px;

        /*background: rgba(255, 255, 255, 1)*/
    }

    .carta_tovara_item .card-img-top {
        border-radius: 14px 14px 0px 0px;
        width: 202px;
        height: 145px;
    }

    .carta_tovara_item .card-title {
        font-size: 15px;
        line-height: 32px;
        color: #FFFFFF;
    }

    .carta_tovara_item .card-text {
        font-size: 12px;

        margin-top: -80%;
        color: #ADADAD;
        font-family: "Arial", sans-serif;
        font-style: italic;
    }

    .price_and_add {
        margin-top: 65%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        color: #E1643C;
    }

    .card-title.my-title a.short-name {
        font-size: 8px;

        color: #FFFFFF;
        text-decoration: none;
    }

    .card-title.my-title a.short-name1 {
        font-size: 8px;

        color: #FFFFFF;
        text-decoration: none;
    }

    .search-panel {
        display: none;
    }


    .dostavka_verx {
        position: absolute;
        top: 6.5%;
        left: 20%;
    }

    .pro_verx {
        position: absolute;
        top: 6.5%;
        left: 38%
    }

    .spivrobitnuchtvo_verx {
        position: absolute;
        top: 6.5%;
        left: 47%
    }

    .vakansiy_verx {
        position: absolute;
        top: 6.5%;
        left: 63%
    }


    .phone-numbers {
        /*font-size: 18px;*/

    }

    .orange-number1 {
        position: absolute;
        color: #E1643C;
        left: 76%;
        top: 4.5%;
    }

    .orange-number2 {
        position: absolute;
        color: #E1643C;
        left: 76%;
        top: 6.5%;

    }

    .white-number1 {
        color: white;
        position: absolute;
        left: 83%;
        top: 4.5%;
    }

    .white-number2 {
        color: white;
        position: absolute;
        left: 83%;
        top: 6.5%;
    }


    .container_logo {
        position: relative;
        width: 18%;
        height: 129px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        background: rgba(0, 0, 0, 0.61);
    }

    .imm {
        width: 112px;
        height: 112px;
        margin-left: 10%;
    }

    .call {
        position: absolute;
        left: 71%;
        top: 5%;
        background: #1c1c1c;
        outline: 1px solid #E1643C;
        width: 45.25px;
        height: 45.25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .divider {
        width: 100%;
        height: 1px;
        background-color: #E1643C;
        margin-bottom: 8px;

    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: -1%;
        right: 2%;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


    .cold_na_nize {
        width: 50px;
        height: 50px;
    }


    .modal_pizza {
        background-color: rgba(0, 0, 0, 0.8);

        margin-left: 0%;
        margin-top: 10%;
        padding: 6px;
        border: 1px solid #888;
        width: 80%;
        height: 630px;
        border-radius: 20px;
        color: white;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal_pizza1 {
        background-color: rgba(0, 0, 0, 0.8);

        margin-left: 0%;
        margin-top: 10%;
        padding: 6px;
        border: 1px solid #888;
        width: 80%;
        height: 700px;
        border-radius: 20px;
        color: white;
    }


    .description_modal_pizza {
        position: absolute;
        top: 28%;
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 12px;
        left: 5%;
        text-transform: lowercase;
        font-style: italic;
        color: #9a9898;
    }

    .vaga {
        position: absolute;
        margin-top: 15%;
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 14px;
        left: 5%;

        color: #f6f5f5;
    }

    .rozmir {
        position: absolute;
        margin-top: 15%;
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 14px;
        right: 5%;
        color: #f6f5f5;
    }

    .sous {
        position: absolute;
        margin-top: 20%;
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 15px;
        left: 5%;
        color: #f6f5f5;
    }

    .sous1 {
        position: absolute;
        margin-top: 10%;
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 18px;
        left: 5%;
        color: #f6f5f5;
    }


    .checker {
        position: absolute;
        left: 5%;
        margin-top: 29%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }


    .checker2 {
        position: absolute;
        left: 5%;
        margin-top: 35%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .checker3 {
        position: absolute;
        left: 5%;
        margin-top: 41%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .checker4 {
        position: absolute;
        left: 5%;
        margin-top: 47%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }


    .ch_rol1 {
        position: absolute;
        left: 5%;
        margin-top: 18%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .ch_rol2 {
        position: absolute;
        left: 5%;
        margin-top: 25%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .ch_rol3 {
        position: absolute;
        left: 5%;
        margin-top: 32%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .ch_rol4 {
        position: absolute;
        left: 5%;
        margin-top: 39%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .checker5 {
        position: absolute;
        left: 5%;
        margin-top: 46%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .checker6 {
        position: absolute;
        left: 5%;
        margin-top: 53%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .checker7 {
        position: absolute;
        left: 5%;
        margin-top: 60%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .checker8 {
        position: absolute;
        left: 5%;
        margin-top: 67%;
        color: #8a8888;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .chhhh1 {
        background-color: #2f2e2e;
        border: 1.3px solid #E1643C;
    }

    .modal_img_pizza {
        border-radius: 16px;
        border: 1px solid #989696;
        width: 98%;
        height: 30%;
        display: block;
        margin-top: -7%;


    }

    .pizza_title {
        font-size: 26px;
        margin-left: -2%;
    }

    .pizza_title_large {
        font-size: 16px; /* Размер для длинных текстов */
        margin-top: 3%;
    }

    #modal-price {
        position: absolute;
        left: 3%;
        top: 90%;
        color: #E1643C;
        font-size: 25px;
    }

    .btn_modal {
        position: absolute;
        top: 88%;
        right: 3%;

        width: 180px;
        height: 50px;

        border-radius: 18px;
        background: #E1643C;
        color: #FFF;
        font-size: 18px;
        border: 1px solid orangered;
        box-shadow: inset 0 0 0 1px black;

    }


    #description_modal {
        position: absolute;
        top: 50%;
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 14px;
        left: 5%;
        text-transform: lowercase;
        font-style: italic;
        color: #9a9898;
    }

    .fn_all {
        position: absolute;
        top: -80%;
        width: 95%;

    }

    .comment-label_nove {
        position: absolute;
        margin-top: -19%;
        margin-left: 6%;
        font-size: 14px;
    }

    .btn_vse {
        position: relative;
        margin-top: -35%;
    }

    .mobile_price_vse {
        position: relative;
        margin-top: -30%;
    }

    .comment-field_nove {
        width: 95%;
        height: 50%;
        margin-top: -35%;
        margin-left: 3%;
    }

    .comment-field {
        width: 95%;
        margin-bottom: 35%;
        margin-left: 3%;

    }

    .fgdgdg {
        position: absolute;
        margin-top: -27%;
        left: 10%;
        color: #e00909;
        pointer-events: none;
        transition: opacity 0.3s;
        opacity: 1;
        font-size: 16px;

    }

    .comment-field .comment-label1 {
        position: absolute;
        top: 75.5%;
        left: 10%;
        color: #efebeb;
        pointer-events: none;
        transition: opacity 0.3s;
        opacity: 1;
        font-size: 16px;

    }

    .modal_relautiv {
        position: relative;
    }

    .form-control {
        margin-top: -5%;
        height: 80px;
        border-radius: 7px;

    }

    .pizza_coment {
        position: absolute;
        width: 95%;
        margin-top: 60%;
        left: 2%;

    }

    .pizza_coment1 {
        position: absolute;
        width: 95%;
        margin-top: 80%;
        left: 2%;

    }

    .modal-footer {
        border-top: none;
    }

    .comment-field .comment-label {
        position: absolute;
        top: -2%;
        left: 10%;
        color: #efebeb;
        pointer-events: none;
        transition: opacity 0.3s;
        opacity: 1;
        font-size: 16px;

    }

    .form-control {
        background-color: #373737;
    }

    .comment-field textarea:focus + .comment-label {
        opacity: 0;
    }

    .comment-field textarea:not(:focus):placeholder-shown + .comment-label {
        opacity: 1;
    }


    .form-group {
        position: absolute;
        top: 103%;
        width: 96%;
        left: 1%;
        right: 1%;

    }


    .modal {
        z-index: 9999; /* Устанавливаем высокий z-index для модального окна */
    }


    #modal_img {
        border-radius: 16px;
        border: 1px solid #989696;
        width: 100%;
        height: 50%;
        display: block;
        /*margin-left: -3%;*/
        margin-top: -2%;
        box-shadow: inset 0 0 0 1px black;
    }

    .modal-title {
        font-size: 22px;
        margin-left: 4%;
    }

    .modal-title_large {
        font-size: 16px; /* Размер для длинных текстов */
        margin-top: 3%;
    }

    #modal-price {
        position: absolute;
        left: 3%;
        margin-top: -10%;
        color: #E1643C;
        font-size: 20px;
    }

    .btn_modal {
        position: absolute;
        margin-top: -13%;
        right: 3%;

        width: 125px;
        height: 40px;

        border-radius: 14px;
        background: #E1643C;
        color: #FFF;
        font-size: 12px;
        border: 1px solid orangered;
        box-shadow: inset 0 0 0 1px black;
        white-space: nowrap;
    }

    .btn_modal_pizza {
        position: absolute;
        margin-top: 190%;
        margin-right: -2%;

        width: 180px;
        height: 40px;

        border-radius: 18px;
        background: #E1643C;
        color: #FFF;
        font-size: 18px;
        border: 1px solid orangered;
        box-shadow: inset 0 0 0 1px black;
    }

    .modal-footer {
        position: relative;
    }

    .modal_price_rolu {
        position: absolute;
        margin-right: 70%;
        margin-top: 225%;
        color: #E1643C;
        font-size: 17px;
        white-space: nowrap;
    }

    .modal_price_pizza {
        position: absolute;
        margin-right: 70%;
        margin-top: 190%;
        color: #E1643C;
        font-size: 17px;
        white-space: nowrap;
    }

    .btnnn {

        border-radius: 8px;
        margin-top: -10%;

        font-style: normal;

        font-size: 16px;

        /* identical to box height, or 122% */
        background-color: #E1643C;
        color: #FFFFFF;
        border: 3px solid orangered; /* Золотая обводка */

    }
    .form-group{
        margin-top: -27%;
    }
    .modal-content {
    background-color: rgba(0, 0, 0, 0.8);


    margin-top: 20%;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 450px;
    border-radius: 20px;
    color: white;

}
}

